.mainFooter{
    background-color: white;
    width: 100vw;
    height: 15vh;
    display: flex;
}
.mainFooter .DivLeft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainFooter .DivLeft img{
    height: 40%;
    margin: 0 1rem 0 1rem;
}
.mainFooter .DivLeft p{
    font-size: 1.5rem;
    margin-right: 5rem;
    font-weight: bold;
}
.mainFooter .DivRigth{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: red; */
}
.mainFooter .DivRigth img{
    height: 80%;
    margin-right: 3rem;   
}
@media (max-width: 600px) {
    .mainFooter{
        background-color: white;
        width: 100vw;
        height: 10vh;
        display: flex;
    }
    .mainFooter .DivLeft{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainFooter .DivLeft img{
        height: 50%;
        margin: 0 1rem 0 1rem;
    }
    .mainFooter .DivLeft p{
        display: none;
    }
    .mainFooter .DivRigth{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }
    .mainFooter .DivRigth img{
        height: 80%;
        margin-right: 3rem;   
    }
}
